.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
    background-color: rgb(170, 123, 182);
    width: 35%;
    margin: 5% auto 0 auto
}

.grid-item {
    aspect-ratio: 1;
    background-color: rgb(40, 136, 141);
    /* Add overflow:hidden to be sure that aspect ratio is always 1, no matter the content */
    overflow: hidden;
}

.center {
    top: 20px;
    font-size: 40px;
    color: burlywood;
    margin-top: 35px;
    text-align: center;
}

body {
    background-color: rgb(40, 136, 141);
}

.line {
    background-color: black;
    height: 2px;
    width: 30px;
    border-radius: 1px;
}

.cross {
    margin-top: 100px;
}

#line-a {
    background-color: rgb(204, 174, 96);
    width: 220px;
    height: 10px;
    transform: rotate(45deg);
    border-radius: 5px;
}

#line-b {
    background-color: rgb(204, 174, 96);
    width: 220px;
    height: 10px;
    transform: translateY(-100%) rotate(-45deg);
    border-radius: 5px;
}

.circle {
    border-radius: 50%;
    border:  rgb(204, 174, 96) 10px solid;
    background-color: rgb(40, 136, 141);
    width: 80%;
    height: 80%;
    margin: 50% auto 0 auto;
    transform: translateY(-50%);
}

#arrow-container {
    text-align: center;
}
#arrow {
    font-size: 100px;
    color: darkgoldenrod;
}

